<div id="panel">

    <div id="panel-tabs" class="row">
        <div class="panel-tab" ng-class="{active: !selected}">Elements</div>
        <div class="panel-tab" ng-class="{active: selected}">Configure</div>
    </div>

    <div class="panel-tab elements" ng-show="!selected">
        <div class="panel-ctr" >
            <request-node mock ng-click="newRequestNode()">
                <strong>RequestNode</strong><br/>
                For using plugins functionality
            </request-node>
        </div>
        <div class="panel-ctr">
            <conditional-node mock ng-click="newConditionalNode()">
                <div class="shape"></div>
                <div class="block">
                  <div>Conditional node</div>
                  <div>Check condition</div>
                </div>
            </conditional-node>
        </div>
        <div class="panel-ctr" >
            <delay-node mock ng-click="newDelayNode()">
                Delay
            </delay-node>
        </div>
        <div class="panel-ctr" >
            <scheduler-node mock ng-click="newSchedulerNode()">
                <strong>Scheduler node</strong><br/>
                Running and stopping<br/>
                scenarios
            </scheduler-node>
        </div>
        <div class="panel-ctr">
            <execute-node mock ng-click="newExecuteNode()">
                <strong>Execute node</strong><br/>
                Execute another scenario
            </execute-node>
        </div>
    </div>

    <div class="panel-tab configure" ng-show="selected">
        <p>Type: {{selected.type}}</p>
        <div ng-show="selected.type == 'RequestNode'">
            <p>Plugin: <div class="tab-select"><select ng-options="plugin for plugin in plugins" ng-model="selected.plugin"></select></div></p>
            <p>Reference: <input ng-model="selected.reference"/></p>
            <p>Value: <input ng-model="selected.value"/></p>
            <p>Return to: <input ng-model="selected.retvar"/></p>
        </div>
        <div ng-show="selected.type == 'ConditionalNode'">
            <p>Condition: <textarea ng-model="selected.condition"></textarea></p>
        </div>
        <div ng-show="selected.type == 'DelayNode'">
            <p>Delay: <input ng-model="selected.delay" type="number" step="0.1"/></p>
        </div>
        <div ng-show="selected.type == 'ExecuteNode'">
            <div class="tab-select">
                <select ng-options="sc for sc in scenarios" ng-model="selected.name"></select>
            </div>
            <p>
                <a ng-href="#/constructor/{{selected.name}}" target="_blank">
                    Open in new tab
                </a>
            </p>
            <p>Parameters: <input ng-model="selected.values"/></p>
            Merge variables:
            <div class="form-group sch-radio">
                <input id="cb-merge" type="radio" ng-model="selected.merge" value="true"><label for="cb-merge" class="radio-inline">Merge</label>
                <input id="cb-nomerge" type="radio" ng-model="selected.merge" value="false"><label for="cb-nomerge" class="radio-inline">No merge</label>
             </div>
        </div>
        <div ng-show="selected.type == 'SchedulerNode'">
            Action:
             <div class="form-group sch-radio">
                <input id="cb-start" type="radio" ng-model="selected.action" value="start"><label for="cb-start" class="radio-inline">Start</label>
                <input id="cb-stop" type="radio" ng-model="selected.action" value="stop"><label for="cb-stop" class="radio-inline">Stop</label>
             </div>
            <p>Scenario:
                <div class="tab-select">
                    <select ng-options="sc for sc in scenarios" ng-model="selected.task"></select>
                </div>
            </p>
        </div>
        <button class="sch-btn" ng-click="deleteSelected()">Delete</button>
    </div>
</div>

<div>
    <button class="sch-btn" ng-click="showmodel = !showmodel">Show model</button>
    <button class="sch-btn" ng-class="{'btn-red': exceptionalMode}" ng-click="toggleExceptional()">Working with exceptions</button>
    <button class="sch-btn" ng-click="checkScenario()">Check scenario</button>
    <button class="sch-btn" ng-click="saveScenario()">Save scenario</button>
</div>

<div id="workspace" ng-init="init();">

    <input class="name" ng-model="name" maxlength="16" placeholder="Name must be here"/>
    <table ng-show="showmodel">
      <tr ng-repeat="node in nodes">
        <td>{{ node | json }}</td>
      </tr>
      <tr><td>{{scenario | json}}</td></tr>
      <tr><td>------selected-----</td></tr>
      <tr><td>{{selected | json}}</td></tr>
    </table>

    <start-node ng-model="node" ng-click="connect()" cid="{{node.id}}" ng-class="{active: node.active}"
        ng-repeat="node in nodes" ng-if="node.type=='StartNode'">
        Start
    </start-node>

    <delay-node ng-model="node" ng-click="connect()" cid="{{node.id}}" ng-class="{active: node.active}"
        ng-repeat="node in nodes" ng-if="node.type=='DelayNode'">
        {{node.delay}} s.
    </delay-node>

    <request-node ng-model="node" ng-click="connect()" cid="{{node.id}}" ng-class="{active: node.active}"
        ng-repeat="node in nodes" ng-if="node.type=='RequestNode'">
        <table>
          <tr><td colspan="3"><i>{{node.plugin}}</i></td></tr>
          <tr><td colspan="3">{{node.reference}}</td></tr>
          <tr><td>{{node.value}}{{node.variable}}</td><td>→[]→</td><td>{{node.retvar}}</td></tr>
        </table>
    </request-node>

    <conditional-node ng-model="node" ng-click="connect()" cid="{{node.id}}" ng-repeat="node in nodes"
    ng-class="{active: node.active}" ng-if="node.type=='ConditionalNode'" >
        <div class="shape"  ></div>
        <div class="block">
          <div>{{node.condition}}</div>
        </div>
    </conditional-node>

    <scheduler-node ng-model="node" ng-click="connect()" cid="{{node.id}}" ng-class="{active: node.active}"
        ng-repeat="node in nodes" ng-if="node.type=='SchedulerNode'">
        {{node.action}} {{node.task}}
    </scheduler-node>

    <execute-node ng-model="node" ng-click="connect()" cid="{{node.id}}" ng-class="{active: node.active}"
        ng-repeat="node in nodes" ng-if="node.type=='ExecuteNode'">
        Scenario: {{node.name}}<br/>
        {{node.values}}<br/>
        Merge: {{node.merge}}
    </execute-node>

</div> <!--workspace-->