<div id="scenarios">

    <h1 class="app-hdr">Scenarios</h1>

    <div class="col-md-12" ng-repeat="scenario in scenarios">
        <div class="panel panel-default scn-line">
            <div class="pull-right">
                <a ng-href="#/constructor/{{scenario.name}}"><button class="sch-btn scn-btn" >Edit</button></a>
                <button class="sch-btn scn-btn" ng-class="{'btn-red': scenario.delete}" ng-click="delete(scenario.name, scenario.delete); scenario.delete=true;">Delete</button>
                <button class="sch-btn scn-btn btn-red" ng-show="scenario.delete" ng-click="scenario.delete=false;">Cancel</button>
            </div>
            <span class="panel-title">{{scenario.name}}</span>
        </div> <!--panel-default end-->
    </div> <!--col-sm-4 end-->

</div>

