<div id="scenarios" >
  <h1 class="app-hdr">Scheduler</h1>
<button class="sch-btn animate-new-btn" type="button" ng-click="newTask()" ng-hide="editing">
    New task
</button>

<!-- New task -->
<div ng-show="editing" class="animate-new">
<div class="row">
    <form novalidate>
        <div id="editing" class="col-sm-4">
          <i class="fa fa-times deleted" ng-show="mode=='delete'"></i>
          <div class="panel panel-default">
            <div class="panel-heading">
                <input required class="form-control sch-fld-title" placeholder="Task name" text ng-model="editing.name" ng-disabled="mode!='new'">
            </div>
            <div class="panel-body">
              <textarea required class="form-control" rows="2" placeholder="Short description" ng-model="editing.description"></textarea>
              <input required class="form-control" placeholder="Process name" ng-model="editing.process">
              <div class="form-group sch-radio">
                <input id="sch-type-interval" type="radio" ng-model="editing.type" value="interval" ng-click="startScheduling()"><label class="radio-inline" for="sch-type-interval">Interval</label>
                <!--
                <input id="sch-type-plan" type="radio" ng-model="editing.type" value="plan" ng-click="startScheduling()"><label for="sch-type-plan" class="radio-inline">Plan</label>
                <input id="sch-type-runonce" type="radio" ng-model="editing.type" value="runonce" ng-click="startScheduling()"><label class="radio-inline" for="sch-type-runonce">Run once</label>
                -->
              </div>
              <i class="pull-left">{{editing.type}} : {{editing.scheme | schemeRepr}}</i>
                <div class="sch-st-cont ">
                  <div class="sch-stop">
                    <div class="slider-check-box">
                      <input id="{{'enbl-cb-'+editing.process}}" ng-model="editing.enabled" type="checkbox" ng-checked="editing.enabled">
                      <label id="{{'enbl-ch-lbl-'+editing.process}}" for="{{'enbl-cb-'+editing.process}}"></label>
                    </div>
                  </div>
                </div>
            </div><!--panel-body-->
          </div><!--panel-default-->
        </div><!--col-sm-4-->

        <div class="col-sm-4 animate-flipx" ng-show="schemeconfig && editing.type=='interval'">
          <div class="panel panel-default panel-helper">
            <div class="panel-heading">
              <h3 class="panel-title">
                Interval settings
                <div class="fa fa-fw fa-times sch-cfg" ng-click="stopScheduling()"></div>
              </h3>
            </div>
            <div class="panel-body">

              <div class="form-group input-group font-black m-r-10">
                <input class="form-control font-black" name="interval" placeholder="Interval" ng-model="editing.scheme.interval" set-focus="{{editing.type=='interval'}}" type="number">
                <span class="input-group-addon font-black" >c.</span>
              </div>
              <button class="sch-btn pull-right m-r-10 m-b-5" type="button" ng-click="stopScheduling()">
                OK
              </button>
            </div>
          </div><!--panel-default-->
        </div><!--col-sm-4-->

        <div class="col-sm-4 animate-flipx" ng-show="schemeconfig && editing.type=='plan'">
          <div class="panel panel-default panel-helper">
            <div class="panel-heading">
              <h3 class="panel-title">
                Schedule
                <div class="fa fa-fw fa-times sch-cfg" ng-click="stopScheduling()">
                </div>
              </h3>
            </div>
            <div class="panel-body">
              <div>Interval</div>
            </div>
          </div><!--panel-default-->
        </div><!--col-sm-4-->

        <div class="col-sm-4 animate-flipx" ng-show="schemeconfig && editing.type=='runonce'">
          <div class="panel panel-default panel-helper">
            <div class="panel-heading">
              <h3 class="panel-title">
                Run once
                <div class="fa fa-fw fa-times sch-cfg" ng-click="stopScheduling()">
                </div>
              </h3>
            </div>
            <div class="panel-body">
              <div id="sch-datepicker-uper" class="sch-datepicker"></div>
              <div>a<br>b<br>c</div>
            </div>
          </div><!--panel-default-->
        </div><!--col-sm-4-->

        <div class="col-sm-4 animate-flipx" ng-show="schemeconfig && editing.type=='runonce'">
          <div class="panel panel-default panel-helper">
            <div class="panel-heading">
              <h3 class="panel-title">
                Scheduled
                <div class="fa fa-fw fa-times sch-cfg" ng-click="stopScheduling()">
                </div>
              </h3>
            </div>
            <div class="panel-body">

            </div>
          </div><!--panel-default-->
        </div><!--col-sm-4-->
    </form>
  </div><!--row-->

<button class="sch-btn" type="button" ng-click="saveTask()">Save</button>
<button class="sch-btn" type="button" ng-click="cancel(editing)">Cancel</button>
<button class="sch-btn" type="button" ng-click="delete()" ng-show="mode == 'edit'">Delete</button>

</div>
<hr>

    <div class="row" ng-repeat="(idx, task) in tasks" ng-if="idx % 3 == 0">

        <div class="col-sm-4" ng-repeat="colidx in [0,1,2]">
          <div class="panel panel-default" ng-if="tasks[idx+colidx]" ng-init="task=tasks[idx+colidx]">
            
            <div class="panel-heading">
              <h3 class="panel-title" ng-click="edit(task)">{{task.name}} <div class="fa fa-fw fa-wrench sch-cfg"></div></h3>
            </div>
            
            <div class="panel-body">
              <p>{{task.description}}<span class="transparent6" ng-show="!task.description">Is not described</span></p>
              <p><strong>Scenario: </strong>{{task.scenario}}</p>
              <i><strong>{{task.type | capitalize}}</strong> : {{task.scheme | schemeRepr}}</i>
              <div class="sch-st-cont" >
                <div class="sch-stop">
                  <div class="slider-check-box">
                    <input id="{{'enbl-cbx-'+task.scenario}}" ng-model="task.enabled" type="checkbox" ng-checked="task.enabled" ng-click="updateTaskStatus(task)">
                    <label for="{{'enbl-cbx-'+task.scenario}}"></label>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

       </div>

      </div>
    </div>

 <!-- widget demonstration. delete after testing -->
<script>
      $(document).ready(function(){
  $('#sch-datepicker-uper').pickmeup_twitter_bootstrap({flat: true, mode:'multiple'});
      });
</script>